@font-face {
    font-family:MyFont;
    src: url(fonts/NotoSans-VariableFont_wdth\,wght.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: MyFont;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #2b5876, #4e4376);
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    /* background-color: #444; */
    border-radius: 8px;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    padding: 0.5rem 1rem;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
    background-color: #82aee0;
    color: black;
}


.content {
        line-height: 1.6;
        background-color: #f9f9f9;
        color: #333;
        padding: 1.2rem;
    }

.intro-img {
    width: 100%;
    height: auto;
   
    margin-bottom: 1rem;
}

.section-with-img {
    display: flex;
    margin-bottom: 2rem;
    align-items: center;
}

.section-with-img .text {
    flex: 1;
    padding-right: 1rem;
}

.section-with-img .side-img {
    width: 400px;
    height: auto;
    border-radius: 8px;
}

.content h2 {
    margin-top: 1rem;
    color: #333;
    font-size: 1.8rem;
}

.content h3 {
    margin-top: 1.5rem;
    color: #444;
    font-size: 1.5rem;
}

.content p {
    margin-top: 1rem;
    color: #555;
}

.content ul {
    margin-top: 1rem;
    padding-left: 1.5rem;
    color: #555;
}

.content ul li {
    margin-bottom: 0.5rem;
}
footer {
    background: linear-gradient(135deg, #2b5876, #4e4376);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    position: relative;
}

footer .social-icons {
    margin: 1.5rem 0;
}

footer .social-icons a {
    margin: 0 0.75rem;
    color: #fff;
    text-decoration: none;
    font-size: 1.75rem;
    transition: color 0.3s;
}

footer .social-icons a:hover {
    color: #7e7474;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Responsive design */
@media (max-width: 768px) {
    .section-with-img {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .section-with-img .text {
        padding-right: 0;
    }
    
    .section-with-img .side-img {
        width: 100%;
        margin-top: 1rem;
    }
    
    .content h2 {
        font-size: 1.5rem;
    }
    
    .content h3 {
        font-size: 1.3rem;
    }
}
@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }
}
@media (max-width: 480px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav ul {
        flex-direction: column;
    }

}